@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/*-------------------------------------
Color Palette & Font Size
--------------------------------------*/
:root {
	--text1-color: #f0f0f0;
    --text2-color: #a4a4a4;
	--accent1-color:  #999999;
	--accent2-color: #3bbb8e;
	--accent3-color: #3bbb8e50;
	--background1-color: #171717;
	--background2-color: #2c2c2c;
    --background3-color: #202020;
    --border-color: #3a3a3a;

    --success-color: #22946e;
    --warning-color: #c48d2f;
    --danger-color: #d94a4a;

    --info-color: #21498a;

	--link-color: #bcd9f8;
	--link-border-color: #347ecd;

	--text-xl: 1.875rem;
	--text-l: 1.5rem;
	--text-m: 1.25rem;
	--text-s: 1rem;
	--text-xs: 0.938rem;
	--text-xxs: 0.875rem;
}

/*-------------------------------------
Default code
--------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

* {
	color: var(--text1-color);
	font-family: 'Google Sans', sans-serif;
}

/*-------------------------------------
body
--------------------------------------*/
body {
	background-color: var(--background1-color);
}

.main {
	display: flex;
    height: calc(100vh - 60px);
}

/*-------------------------------------
heading and text
--------------------------------------*/
h1 {
	font-size: var(--text-xl);
}

h2 {
	font-size: var(--text-l);
}

h3 {
	font-size: var(--text-m);
}

h4 {
    font-size: var(--text-s);
}

p {
    color: var(--text2-color);
	font-size: var(--text-xs);
}

a {
    color: var(--text2-color);
    font-size: var(--text-xs);
    text-decoration: none;
}